* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #eeeeee;
}

body {
  font-family: sans-serif;
  overflow: hidden;
  background: url("https://wallpaperaccess.com/full/1155041.jpg");
}

.scene,
canvas {
  position: absolute;
  width: 100%;
  height: 100%;
}
h1{
	padding-left: 1em;
}
p{
	padding-left: 1em;
	padding-right: 1em;
}