.blog{
	margin: 0;
	padding: 0;
	box-sizing: 0;
	font-family: "Roboto", "sans serif";
	font-size: 1.5rem;
	color: #333;
/*	background-color: #eee;*/
	width: 100%;
	height: 100vh;
/**/
	ali	display: flex;gn-items: center;
	justify-content: center;
	padding: 0 1.5rem;
}
:root{
	--gradient-color: linear-gradient(to right bottom, rgba(255,119,48,.8), rgba(255,185,0,.8));
}
/*html{
	font-size: 10px;
}*/
.blog a{
	text-decoration: none;
	color: inherit;
}
.blog .card{
	display: flex;
	flex-direction: column;
	margin-top: 1rem;
	margin-bottom: 1rem;
	box-shadow: 2px .8rem 1rem rgba(0,0,0,0.05);
}
.image-data{
	height: 25rem;
	position: relative;
	z-index: 1;
	overflow: hidden;
}
.background-image{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background: url(https://cdn-origin.cool-style.com.tw/cool/2021/03/seo-watch-free-link-preview.jpg) center no-repeat;
	background-size: cover;
	z-index: -1;
	transition: transform 2s;
}
.card:hover .background-image{
	transform: scale(1.5);
}
.background-image2{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background: url(https://res.klook.com/images/fl_lossy.progressive,q_65/c_fill,w_1200,h_630,f_auto/w_80,x_15,y_15,g_south_west,l_klook_water/activities/q3byiwicxffa0fakjwvj/Hollywood%20Sign%20One-Hour%20Guided%20Tour%20in%20Los%20Angeles.jpg) center no-repeat;
	background-size: cover;
	z-index: -1;
	transition: transform 2s;
}
.card:hover .background-image2{
	transform: scale(1.5);
}
.publication-details{
	width: 100%;
	height: 100%;
	background-color: var(--gradient-color);
	font-size: 1.4rem;
	font-weight: bold;
	color: #fff;
	position: absolute;
	top:0;
	left:0;
	padding: 1rem;
}
.publication-details i{
	margin-right: 10rem;
}
.author{
	display: inline-block;
}
.date{
	display: block;
}
.description{
	font-size: 10px;
	color: gray;
}
